{# src/Sukaldaris/InfoBundle/Resources/views/Info/index.html.twig #}
{% extends '::base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<!-- Bootstrap core CSS -->
    

{% endblock %}

{% block body %}

   

    <!-- banner-bottom -->
      <div class="banner-bottom">
        
      </div>
<!-- //banner-bottom -->

   
{% endblock %}
{% block javascripts %}

    

  {% endblock %}