{# src/Sukaldaris/InfoBundle/Resources/views/Info/index.html.twig #}
{% extends '::base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<!-- Bootstrap core CSS -->
    

{% endblock %}

{% block body %}
    
    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1 >¡Hola, mundo!</h1>
        <p data-replace-tmp-key="75ef47b498a2f87541207e46019b323e"><os-p key="75ef47b498a2f87541207e46019b323e">This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</os-p></p>
        <p><a href="#" class="btn btn-primary btn-lg" role="button" data-replace-tmp-key="0fc1f806e4591946e53b4dd0f08a50a0"><os-p key="0fc1f806e4591946e53b4dd0f08a50a0">Learn more &raquo;</os-p></a></p>
      </div>



      



      <div class="page-header">
        <h1 data-replace-tmp-key="acc66e14d297c1bfc20986bf593cb054"><os-p key="acc66e14d297c1bfc20986bf593cb054">Miniaturas</os-p></h1>
      </div>
      <img data-src="holder.js/200x200" class="img-thumbnail" alt="A generic square placeholder image with a white border around it, making it resemble a photograph taken with an old instant camera">



      


    </div> <!-- /container -->

   
{% endblock %}
{% block javascripts %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//getbootstrap.com/examples/theme/../../dist/js/bootstrap.min.js"></script>
    <script src="//getbootstrap.com/examples/theme/../../assets/js/docs.min.js"></script>
  <script class="os-tdn" type="text/javascript" src="//s3.amazonaws.com/oneskyapp.static/in-context/loader.min.js"></script><script type="text/javascript">OneSkyClientConfig = {apiKey: "U9aDnPz49ouz8J2CjMcAz74GppvQBGym",project: 19540,translate: true,locale: "es",xdReceiver: "http://www.oneskyapp.com/docs/xd_receiver.html"};</script>

  {% endblock %}