{# src/Sukaldaris/AdminBundle/Resources/views/Admin/addCategoria.html.twig #}

{% extends "::base.html.twig" %}

{% block title %}Añadir una nueva categoria{% endblock %}

{% block body %}
	<br>
	<h3 class="ghj">Añadir una nueva categoria</h3>

	<section>
		<form action="{{ path( ruta ) }}" method="post" {{ form_enctype(form) }} class="blogger">

	    {{ form_widget(form) }}

	    
	    <p>

	        <input type="submit" value="Crear">

	    </p>

		</form>
	</section>


	
{% endblock %}

