{# src/Sukaldaris/AdminBundle/Resources/views/Admin/addIngrediente.html.twig #}

{% extends "::base.html.twig" %}

{% block title %}Añadir un nuevo ingrediente{% endblock %}

{% block body %}
	<br>
	<h3 class="ghj">Añadir un nuevo ingrediente</h3>

	<section>
		<form action="{{ path( ruta ) }}" method="post" {{ form_enctype(form) }} class="blogger">

	    {{ form_widget(form) }}

	    
	    <p>

	        <input type="submit" value="Crear">

	    </p>

		</form>
	</section>

<script>
  const select = document.querySelector('.js-select2');
  $(select).select2({
    tags: true,
  });
</script>
	
{% endblock %}

